{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link rel="stylesheet" href="{% static 'RadiomicsEnabler/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'RadiomicsEnabler/favicon/favicon.ico' %}"/>
    <title>{% block title %}Radiomics Enabler{% endblock %}</title>
    <style>
        #leftheader { float: left;
                        width: 50%;
                        align: left;
                        vertical-align: middle;
                        }
        #rightheader { float: right;
                        width: 50%;
                        text-align:right;
                        vertical-align: middle;
                      }
        #navheader { clear: both; }
        td.reTitle {
            color: rgb(0,94,156);
            font-size: 3em;
            }
        .errorlist { color:rgb(240,10,10); }

    </style>
    <script type="text/javascript">

        // this function is used to clear the setTimeout() queue so that button clicks will not be lost if the page reloads
        function clearTimeouts() { // clear all timeouts

            var id = window.setTimeout(function() {}, 0);

            while (id--) {
                window.clearTimeout(id); // will do nothing if no timeout with id is present
            }
            return true; //see https://stackoverflow.com/questions/7347786/html-anchor-tag-with-javascript-onclick-event

        }

    </script>
    {% block headinfo %}{% endblock %}
</head>
<body>
    <div id="header">
        <div id="leftheader">
            <table cellpadding="5" valign="middle">
                <tr><td><img src="{% static 'RadiomicsEnabler/images/ILLUSTRATION-WEB.png' %}"/></td><td class="reTitle">Radiomics Enabler</td></tr>
            </table>
        </div>
        <div id="rightheader">
            <table cellpadding="5" valign="middle" align="right">
                <tr><td>{{ user.first_name }} {{ user.last_name}}</td></tr>
                <tr><td align="center"><button class="myButton" onclick="location.href='{% url 'logout' %}'" name="Logout">Logout</button></td></tr>
            </table>

        </div>

        <div id="navheader">{% block navheader %}<a href="{% url 'projectList' %}">Home</a>{% endblock %}</div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>