{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Validate Batch {% endblock %}

{% block navheader %}{{ block.super }}><a href="{% url 'projectDetails' object.project.pk %}">{{ object.project.name }}</a>>Validate batch{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to validate Batch "{{ object }}" from Project "{{ object.project.name }}"? Your batch will be moved to the list of archived batches and all images will be deleted from the Radiomics Enabler® server.</p>
        <input type="submit" name="confirm" value="Confirm" />
        <input type="submit" name="cancel" value="Cancel" />
    </form>

{% endblock content %}