{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Query PACS{% endblock %}

{% block headinfo %}

    <style>
        #content {
            font: normal 12px/15px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
        }
        legend { font-weight: bold; }
        .ui-widget {
            font: normal 12px/15px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif !important;
        }
    </style>


   <link rel="stylesheet" type="text/css" href="{% static '/RadiomicsEnabler/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}" />
    <script type="text/javascript"  src="{% static '/RadiomicsEnabler/scripts/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript"  src="{% static '/RadiomicsEnabler/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script>
    $( function() {
    $( "#id_patient_birth_date" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        minDate: "-120y",
        maxDate: "+0d",
        yearRange: "-120:+0"
        });
     $( "#id_study_date_from" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        minDate: "-120y",
        maxDate: "+0d",
        yearRange: "-120:+0"
        });
      $( "#id_study_date_to" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        minDate: "-120y",
        maxDate: "+0d",
        yearRange: "-120:+0"
        });
     } );
  </script>

{% endblock %}

{% block navheader %}{{ block.super }}><a href="{% url 'projectDetails' batch.project.pk %}">{{ batch.project.name }}</a>><a href="{% url 'batchDetail' batch.pk %}">{{ batch.name }}</a>>Query PACS{% endblock %}

{% block content %}
    <br/>
    <br/>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <center>
         {{ form.non_field_errors }}

        <table>
            <tr>
            <td>
                <fieldset>
                    <legend>Study date</legend>
                    {{ form.study_date_from.errors }}
                    {{ form.study_date_to.errors }}
                    <table>
                        <tr><td>{{ form.study_date_from.label_tag }}</td><td>{{ form.study_date_from }}</td></tr>
                        <tr><td>{{ form.study_date_to.label_tag }}</td><td>{{ form.study_date_to }}</td></tr>
                    </table>
                </fieldset>
            </td>
            <td width="10%" align="center">
                    AND/OR
            </td>
            <td>
                <fieldset>
                    <legend>Patient</legend>
                    {{ form.patient_last_name.error }}
                    {{ form.patient_first_name.error }}
                    {{ form.patient_birth_date.error }}
                    {{ form.patient_id.error }}
                    <table>
                        <tr><td>{{ form.patient_last_name.label_tag }}</td><td>{{ form.patient_last_name }}</td></tr>
                        <tr><td>{{ form.patient_first_name.label_tag }}</td><td>{{ form.patient_first_name }}</td></tr>
                        <tr><td>{{ form.patient_birth_date.label_tag }}</td><td>{{ form.patient_birth_date }}</td></tr>
                        <tr><td>{{ form.patient_id.label_tag }}</td><td>{{ form.patient_id }}</td></tr>
                    </table>
                </fieldset>
            </td>
            <td width="5%" align="center">
                    OR
            </td>
             <td width="30%">
                 <fieldset>
                    <legend>Patient List</legend>
                                         <p>Indicate a text file where each line contains one Patient ID or a CSV text file where each line contains
                    a comma separated list of Patient Last Name, Patient First Name, and Birth Date (format DD/MM/YYYY or YYYY/MM/DD).</p>
                    <br>
                    {{ form.patient_list }}
                </fieldset>
             </td>
            </tr>

        </table>



            <br/>
            <br/>

        <table width="50%">
            <tr>
                <th colspan="3">Additional optional filters</th>
            </tr>
            <tr>
                <td>
                    <fieldset>
                        <legend>{{ form.modality.label_tag }}</legend>
                        {{ form.modality.error }}
                        {{ form.modality }}
                    </fieldset>
                </td>
                <td width="5%"></td>
                <td>
                    <fieldset>
                        <legend>{{ form.exam_types.label_tag }}</legend>
                        Input a comma separated list of items to be found in the study description.
                        {{ form.exam_types.error }}
                        {{ form.exam_types }}
                    </fieldset>
                </td>
            </tr>

        </table>

            <br/>
            <br/>

        <table width="30%">
            <tr>
                <td>
                    <center>
                    <fieldset>
                        <legend>Advanced search</legend>
                                            Indicate an XML file containing your custom advanced search.<br/><br/>
                        {{ form.advanced_search.error }}
                    {{ form.advanced_search }} <button type="button" disabled>Browse...</button>No file selected.<br/><br/>
                   Contact <a href="mailto:contact@medexprim.com">Medexprim</a> to build a custom search.
                    </fieldset>
                    </center>
                </td>
            </tr>
        </table>
        </center>
        <br/>
        <br/>
        <center>
            <input type="submit"  name="validate" value="Validate" class="myButton"/>
            <input type="submit"  name="cancel" value="Cancel" class="myButton" />
        </center>

    </form>

{% endblock content %}

