{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Batch Detail{% endblock %}

{% block headinfo %}
    <link rel="stylesheet" href="{% static 'RadiomicsEnabler/style.css' %}"/>

    <link rel="stylesheet" type="text/css"
          href="{% static 'RadiomicsEnabler/scripts/DataTables-1.10.13/css/jquery.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'RadiomicsEnabler/scripts/Buttons-1.2.4/css/buttons.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'RadiomicsEnabler/scripts/rowGroup.dataTables.min.css' %}"/>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/jQuery-2.2.4/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/DataTables-1.10.13/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/Buttons-1.2.4/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/Buttons-1.2.4/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/Select-1.2.0/js/dataTables.select.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/dataTables.rowGroup.min.js' %}"></script>



    <style>
    td.details-control {
        background: url({% static 'RadiomicsEnabler/scripts/resources/details_open.png' %}) no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url({% static 'RadiomicsEnabler/scripts/resources/details_close.png' %}) no-repeat center center;
    }
    tr.hidden td.details-control {
        background: none;
        cursor: none;
    }
    table.series {
            cellpadding: 5;
            cellspacing: 0;
            width: 35%;
            color: blue;
            font-style: italic;
        }
    tr.series {
            color: blue;
            font-style: italic;
        }
    div.palebluefont {
        font: normal 12px/15px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    }
    td.pending {
        color: gold;
        }
     td.error {
        color: red;
        }
     td.complete {
        color: green;
        }
     td.interrupted {
        color: orange;
        }
    td.hide{
        visibility: hidden
    }
    </style>

    <!-- Paramétrage de DataTables -->
    <script type="text/javascript">

        function format ( series ) {
            var details = '';
            for (i = 0, len = series.length; i < len; i++)
                details += '<tr>'+
                    '<td width="50em">'+series[i].modality+'</td><td width="64em">'
                    + series[i].series_description+'</td><td class="' + series[i].status.toLowerCase() + '" width="20em">'
                    +series[i].status+'</td><td width="10em"><a href="/RadiomicsEnabler/Series/'+series[i].pk+'/archive/"><img src="/static/RadiomicsEnabler/images/icon-deletelink.svg" alt="Archive"/></a></td></tr>';
            return '<table class="series" align="center">'+ details +'</table>';
        }


        $(document).ready(function() {



            var table = $('#example').DataTable(
             {
               "language": { "emptyTable": "No matching studies or series.", "infoEmpty": "No matching studies or series.",
               },
                "data": {{ jsonStudies|safe }},
                "columns": [
                    { "data":"patient_id", className:"dt-left", "title":"Patient ID" },
                    { "data":"patient_last_name", className:"dt-left", "title":"Name" },
                    { "data":"patient_first_name", className:"dt-left", "title":"First name"  },
                    { "data":"patient_birth_date", className:"dt-center", "title":"Birth date" },
                    { "data":"study_date", className:"dt-center", "title":"Study date" },
                    { "data":"event_date", className:"dt-center",
                      "visible": false, "title":"Event date",
                      "searchable": false },
                    { "data":"modality", className:"dt-center", "title":"Modality" },
                    { "data":"study_description", className:"dt-left", "title":"Description" },
                    { "data":"status",
                        className:"dt-center", "title":"Status",
                        {% if object.status == 'W' %} "visible":false, {% else %}"visible":true,{% endif %}
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).addClass( cellData.toLowerCase() )}
                    },
                    { "data":"pk", className:"dt-center",
                      "searchable": false, "orderable": false,
                      "render": function ( data, type, full, meta ) {
                        return '<a href="/RadiomicsEnabler/'+data+'/archive/"><img src="/static/RadiomicsEnabler/images/icon-deletelink.svg" alt="Archive"/></a>';
                        }
                     },
                     {"data":"studyid","visible":false,"searchable": false,"name":'group'},
                ],
                select: {
                    style:    'os',
                },
                "order":[[1,'asc']],
                "createdRow": function ( row, data, index ) {
                    var trow = this.api().row( index );
                    if ( data['pk'].indexOf('Serie') !== -1 ) {
                        $(row).addClass( 'series' );
                        $('td', row).eq(0).addClass('hide');
                        $('td', row).eq(1).addClass('hide');
                        $('td', row).eq(2).addClass('hide');
                        $('td', row).eq(3).addClass('hide');
                        $('td', row).eq(4).addClass('hide');
                    }
                },
                "language": {
                    "search": "Filter: ",
                    "emptyTable": "No records found."
                },
                "lengthMenu": [ {{pageLength|safe}}, {{pageTitle|safe}} ],
                rowGroup: {
                    dataSrc:10,
                    startRender: null,
                    endRender: null
                }
            } );

           // Handle click on "Select all" control
           $('#example-select-all').on('click', function(){
              // Get all rows with search applied
              var rows = table.rows({ 'search': 'applied' }).nodes();
              // Check/uncheck checkboxes for all rows in the table
              $('input[type="checkbox"]', rows).prop('checked', this.checked);

              // Iterate over all checkboxes in the table
              table.$('input[type="checkbox"]').each(function(){
                 // If checkbox doesn't exist in DOM
                 if(!$.contains(document, this)){
                    // If checkbox is checked
                    this.checked = hdr.checked
                 }

               });

           });

           // Handle click on checkbox to set state of "Select all" control
           $('#example tbody').on('change', 'input[type="checkbox"]', function(){
              // If checkbox is not checked
              if(!this.checked){
                 var el = $('#example-select-all').get(0);
                 // If "Select all" control is checked and has 'indeterminate' property
                 if(el && el.checked && ('indeterminate' in el)){
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                 }
              }
           });

        } );


    </script>
{% endblock %}

{% block navheader %}{{ block.super }}><a href="{% url 'projectDetails' object.project.pk %}">{{ object.project.name }}</a>>{{ object.name }}{% endblock %}

{% block content %}
{% if object.status == 'W' %}
<center><button class="myButton" onclick="location.href='/RadiomicsEnabler/Batch/{{ object.pk }}/query/add/'" name="addNewButtonOrSeries">Add new studies or series to batch</button></center>
{% endif %}
<br/>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <center>
        {{ form.limitExtraction }} {{ form.limitExtraction.label_tag }} {{ form.beginHour.label_tag }} {{ form.beginHour }}  {{ form.endHour.label_tag }} {{ form.endHour }}
        {% if object.status == 'W' %} <input type="submit"  name="extract" value="Extract from PACS" class="myButton"/> {% endif %}
        {% if object.status == 'E' or  object.status == 'P' or object.status == 'I' %} <input type="submit"  name="retry" value="Retry extraction from PACS" class="myButton"/> {% endif %}
        {% if object.status == 'S' %} <input type="submit"  name="retry" value="Force extraction from PACS" class="myButton"/> {% endif %}
        {% if object.status == 'C' %}  <input type="submit"  name="validate" value="Validate batch" class="myButton"/> {% endif %}
    </center>
</form>
<div class="palebluefont">
<table id="example" class="display compact" cellspacing="0">
</table>

</div>
{% endblock %}
