{% load static %}
<!DOCTYPE html>
<html>
    <head>
	    <link rel="stylesheet" href="{% static 'RadiomicsEnabler/styles.css' %}" />
    </head>
    <body>
        <div class="pageheader">
            <table>
                <tr>
                    <td><img src="{% static 'RadiomicsEnabler/images/ILLUSTRATION-WEB.png' %}"/> </td>
                    <td> RADIOMICS ENABLER </td>
                    <td> User Name Logout</td>
                </tr>
            </table>
        </div>

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" name="confirm" value="Confirm" />
        <input type="submit" name="cancel" value="Cancel" />
    </form>

    </body>
</html>