{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Batch Extraction{% endblock %}

{% block headinfo %}
    <style>
        .loader {
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid blue;
          border-bottom: 16px solid blue;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
    </style>

    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/jQuery-2.2.4/jquery-2.2.4.min.js' %}"></script>


    <script type="text/javascript">


        $(document).ready ( function(){
            var a = '{{ runStatus }}';
            if ( a == 0 ){
                $("#spinner").css("display",'none');
                $("#StopRetrieval").hide();
                $("#processing").css("display",'none');
            }
            else {
                $("#finished").css("display",'none');
            }
            setTimeout(function() { window.location.reload(true) },2000);
         });



    </script>
{% endblock headinfo %}


{% block navheader %}{{ block.super }}><a href="{% url 'projectDetails' batch.project.pk %}" onclick="clearTimeouts()">{{ batch.project.name }}</a>><a href="{% url 'batchDetail' batch.pk %}" onclick="clearTimeouts()">{{ batch.name }}</a>>Extraction{% endblock %}

{% block content %}

<center>
    <div id="spinner" class="loader"></div>
    <div id="message">{{ progressMessage }}</div>
    <div id="buttons">
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="myButton" id="StopRetrieval" name="StopRetrieval" value="Stop retrieval" onclick="clearTimeouts()"/>
        </form>
    </div>
    <div id="processing">
        Your batch is processing.<br/>
        You may go back to your <a href="{% url 'projectDetails' batch.project.pk %}" onclick="clearTimeouts()">project</a> or the <a href="{% url 'projectList' %}" onclick="clearTimeouts()">list of projects</a>.
        You may also logout. Your batch will continue processing.
    </div>
    <div id="finished">
        You may go back to your <a href="{% url 'projectDetails' batch.project.pk %}" onclick="clearTimeouts()">project</a> or the <a href="{% url 'projectList' %}" onclick="clearTimeouts()">list of projects</a>.
        You may also logout.
    </div>

</center>

{% endblock content %}
