{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Radiomics Enabler: Login</title>
        <link rel="stylesheet" href="{% static 'RadiomicsEnabler/style.css' %}"/>
        <style>
        #leftheader { float: left;
                        width: 50%;
                        align: left;
                        vertical-align: middle;
                        }
        #rightheader { float: right;
                        width: 50%;
                        text-align:right;
                        vertical-align: middle;
                      }
        #navheader { clear: both; }
        .login_surtitle {
            font-size: 8em;
            }
        .login_title {
            color: rgb(0,94,156);
            font-size: 2.5em;
            }
        .login_subtitle {
            color: rgb(0,94,156);
            font-size: 2.5em;
            }
    </style>
</head>
<body>
<center>
<div class="login_surtitle">
    <img src="{% static 'RadiomicsEnabler/images/ILLUSTRATION-WEB.png' %}"/><font style="color:rgb(0,94,156)">Med</font><font style="color:rgb(16,150,204)">exprim</font>
</div>
<br/>
<br/>
    <div class="login_title">Radiomics Enabler&reg;</div>
<br/>
<br/>
<div class="login_subtitle">Welcome</div>
<br/>
<br/>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enter</button>
  </form>
</center>
</body>
</html>
