{% extends "RadiomicsEnabler/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block title %}{{ block.super }}: Project Detail{% endblock %}

{% block headinfo %}
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />

        <style>
		    td.number_of_patients, td.number_of_studies, td.number_of_series, td.number_of_images, td.size_in_bytes, td.modify, td.delete {
    			text-align:center ! important;
    			vertical-align:middle ! important;
		    }
		    p.completed {  margin-top: 0;
		                    margin-bottom: 0;
		                    color: green;
		                    }
            p.error {  margin-top: 0;
                margin-bottom: 0;
                color: red;
                }
            p.processing {  margin-top: 0;
                margin-bottom: 0;
                color: gold;
                }
            p.interrupted {  margin-top: 0;
                margin-bottom: 0;
                color: orange;
            }
        </style>
{% endblock %}

{% block navheader %}{{ block.super }}>{{ object.name }}{% endblock %}

{% block content %}

        <p>
            <center> <div class="content">Select an existing batch or create a <a href="./add/" class="myButton">new batch</a> </div></center>
        </p>
        <br>
        <br>
        <center>
            <table cellspacing="10">
                <tr><td>In preparation</td></tr>
                <tr><td>{% render_table tableWaiting %}</td></tr>
                <tr><td>Done or pending</td></tr>
                <tr><td>{% render_table tableProcessing %}</td></tr>
                <tr><td>Archived</td></tr>
                <tr><td>{% render_table tableValidated %}</td></tr>
            </table>

        </center>

{% endblock content %}
