{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Add Project {% endblock %}
{% block navheader %}{{ block.super }}>: Add Project{% endblock %}

{% block headinfo %}

    <style>

    div.labels {
        padding-right: 1em;
        }

#container {
    display: table;
    padding-top: 2em;
    padding-bottom: 1em;
}
#container > div {
    display: table-row;

}
#container > div > div {
    display: table-cell;
    padding-bottom:1em;
}
    </style>

{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <center>
        <div id="container">
            <div>
                <div class="labels"></div>
                <div>{{ form.name.errors }}</div>
            </div>
            <div>
                <div class="labels">{{ form.name.label_tag }}</div>
                <div>{{ form.name }}</div>
            </div>
            <div>
                <div class="labels">{{ form.description.label_tag }}</div>
                <div>{{ form.description }}</div>
            </div>
            <div>
                <div class="labels">{{ form.approval_info.label_tag }}</div>
                <div>{{ form.approval_info }}</div>
            </div>
        </div>

        <center>
            <input border=0 type="submit" value="Validate" class="myButton" name="_validate"/> <span class="espace"/>
            <button onClick="location.href='{% url 'projectList' %}'" class="myButton" name="_cancel">Cancel</button>
        </center>
    </form>
{% endblock content %}