{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Delete Project {% endblock %}

{% block navheader %}{{ block.super }}><a href="{% url 'projectDetails' object.pk %}">{{ object.name }}</a>>Delete project{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" name="confirm" value="Confirm" />
        <input type="submit" name="cancel" value="Cancel" />
    </form>

{% endblock content %}