{% extends "RadiomicsEnabler/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block title %}{{ block.super }}: Projects{% endblock %}

{% block headinfo %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <style>
        td.modify, td.delete {
    			text-align:center ! important;
    			vertical-align:middle ! important;
		    }
		p.agreement {
		 text-align:justify
		 }
		div.agreement {
		    max-width:200px;
		    word-wrap:break-word;
		}
    </style>
{% endblock %}

{% block navheader %}
{% if agreement %}
    Home>
{% else %}
    User agreement>
{% endif %}
{% endblock %}


{% block content %}

    {% if agreement %}
        <p>
            <center> <div class="content">Select an existing project or create a <a href="./Project/add" class="myButton">new project</a> </div></center>
        </p>
        <br>
        <br>
        <center>{% render_table table %}</center>
    {% else %}
        <center>
            <div style="max-width:600px;word-wrap:break-word;">
                <p class="agreement">Thank you for choosing to be part of the Radiomics Enabler&reg; community.</p>
                <p class="agreement">Radiomics Enabler&reg; is the property of Medexprim. In order for Medexprim
                    to enhance the functionalities and the performance of the software to
                    better serve our user community, we need to collect some information
                    about your usage. As this is the first time you are using the system,
                    you need to validate that you agree with the following.
                </p>
                <p style="text-align:left">What we may collect:
                 <ul style="list-style-type:circle;text-align:left">
                    <li>user information (name, email address, institution), </li>
                    <li>usage statistics,</li>
                    <li>performance statistics.</li>
               </ul>
                </p>
                <p style="text-align:left"> What we will not collect:
                 <ul style="list-style-type:circle;text-align:left">
                    <li>patient information,</li>
                    <li>images.</li>
               </ul>
                </p>
                <p class="agreement">Medexprim cannot be held responsible for any misuse of the software.
                    In particular, you need to ensure that your research projects have been authorized by
                    your institutional review board (or any relevant authority) before executing any request
                    on your PACS system.  </p>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                         <input type="radio" name="agreement" value="accepted" checked> I agree
                         <input type="radio" name="agreement" value="declined"> I don't agree<br/>
                         <input type="submit" name="proceed" value="Proceed" />
                    </form>

            </div>
        </center>


    {% endif %}


{% endblock content %}
