{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Search Results{% endblock %}

{% block headinfo %}

    <link rel="stylesheet" type="text/css"
          href="{% static 'RadiomicsEnabler/scripts/DataTables-1.10.13/css/jquery.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'RadiomicsEnabler/scripts/Buttons-1.2.4/css/buttons.dataTables.min.css' %}"/>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/jQuery-2.2.4/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/DataTables-1.10.13/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/Buttons-1.2.4/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/Buttons-1.2.4/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/Select-1.2.0/js/dataTables.select.min.js' %}"></script>


    <style>

    table.series {
            cellpadding: 5;
            cellspacing: 0;
            width: 35%;
            color: blue;
            font-style: italic;
        }
    div.palebluefont {
        font: normal 12px/15px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    }

    p.rtrnstatus {
        width: 70%
    }

    </style>

    <!-- Paramétrage de DataTables -->
    <script type="text/javascript">

        function format ( series ) {
            var details = '';
            for (i = 0, len = series.length; i < len; i++)
                details += '<tr>'+
                    '<td>'+ '<input type="checkbox" name="series_'+series[i].pk+'" value="'+series[i].selected+'">'+'</td><td>'
                    +series[i].modality+'</td><td>'
                    +series[i].series_description+'</td></tr>';
            return '<table class="series" align="center"><tr><td>'+ details +'</td></tr></table>';
        }


        $(document).ready(function() {

            var doViewer = {{ doViewer|safe }};
            var baseURL = {{ baseURL|safe }};
            var eyeURL = "{% static 'RadiomicsEnabler/images/eye.svg' %}";
            var patientIDLabel = {{ patientIDLabel|safe }};
            var studyUIDLabel = {{ studyUIDLabel|safe }};
            var seriesUIDLabel = {{ seriesUIDLabel|safe}};

            var table = $('#example').DataTable( {
                "data": {{ jsonStudies|safe }},
                "columns": [
                    {
                        "orderable": false,
                        "data":"selected",
                        'className': 'dt-center',
                        'render': function (data, type, full, meta){
                            return '<input type="checkbox" name="study_'+full['pk']+'" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    { "data":"patient_id", className:"dt-left" },
                    { "data":"patient_last_name", className:"dt-left" },
                    { "data":"patient_first_name", className:"dt-left" },
                    { "data":"patient_birth_date", className:"dt-center" },
                    { "data":"study_date", className:"dt-center" },
                    { "data":"event_date", className:"dt-center",
                      "visible": false,
                      "searchable": false },
                    { "data":"modality", className:"dt-center" },
                    { "data":"study_description", className:"dt-left" },
                    {
                        "orderable": false,
                        "visible": doViewer,
                        "data":"patient_id",
                        'className': 'dt-center',
                        'render': function (data, type, full, meta){
                            return '<a href="http://' + baseURL + '?'+patientIDLabel+'='+data+'" onclick="window.open(this.href); return false;"><img src="'+eyeURL+'" alt="viewer" style="width:22px;height:22px;border:0;"></a>'
                        }
                    },
                ],
                select: {
                    style:    'os',
                },
                "order":[[2,'asc']],
                "lengthMenu":  [ {{pageLength|safe}}, {{pageTitle|safe}} ],
                "createdRow": function ( row, data, index ) {
                    var trow = this.api().row( index );
                    if ( data['series'].length > 0 ) {
                        trow.child( format( data['series'] )  ).show();
                    }
                },
                "language": {
                    "search": "Filter: ",
                    "emptyTable": "No records found."
                }

            } );

           // Handle click on "Select all" control
           $('#example-select-all').on('click', function(){
              // Get all rows with search applied
              var rows = table.rows({ 'search': 'applied' }).nodes();
              // Check/uncheck checkboxes for all rows in the table
              $('input[type="checkbox"]', rows).prop('checked', this.checked);

              // Iterate over all checkboxes in the table
              table.$('input[type="checkbox"]').each(function(){
                 // If checkbox doesn't exist in DOM
                 if(!$.contains(document, this)){
                    // If checkbox is checked
                    this.checked = hdr.checked
                 }

               });

           });

           // Handle click on checkbox to set state of "Select all" control
           $('#example tbody').on('change', 'input[type="checkbox"]', function(){
              // If checkbox is not checked
              if(!this.checked){
                 var el = $('#example-select-all').get(0);
                 // If "Select all" control is checked and has 'indeterminate' property
                 if(el && el.checked && ('indeterminate' in el)){
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                 }
              }
           });

           // Handle form submission event
           $('#frm-example').on('submit', function(e){
              var form = this;

              // Iterate over all checkboxes in the table
              table.$('input[type="checkbox"]').each(function(){
                 // If checkbox doesn't exist in DOM
                 if(!$.contains(document, this)){
                    // If checkbox is checked
                    if(this.checked){
                       // Create a hidden element
                       $(form).append(
                          $('<input>')
                             .attr('type', 'hidden')
                             .attr('name', this.name)
                             .val(this.value)
                       );
                    }
                 }
              });
           });

        } );


    </script>
{% endblock headinfo %}


{% block navheader %}{{ block.super }}><a href="{% url 'projectDetails' object.batch.project.pk %}">{{ object.batch.project.name }}</a>><a href="{% url 'batchDetail' object.batch.pk %}">{{ object.batch.name }}</a>>Search Results{% endblock %}

{% block content %}

<center>Search results</center>

<br/>
<center>

    <p class="rtrnstatus">
        {{ rtrnStatus }}
    </p>

    <form method="post" id="frm-example">
        {% csrf_token %}
        {{ form }}
        <input type="submit"  name="displaySelectedSeries" value="Display series of selected studies" class="myButton"/>
        <input type="submit"  name="addSelectionToBatch" value="Add selection to batch" class="myButton"/>
        <input type="submit"  name="newQuery" value="Launch a new search" class="myButton" />
        <input type="submit"  name="goToBatch" value="Go to batch" class="myButton" />

        <br/>
<div class="palebluefont">
        <table id="example" class="display compact stripe" width="100%">
            <thead>
            <tr>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                <th>Patient ID</th>
                <th>Name</th>
                <th>First name</th>
                <th>Birth date</th>
                <th>Study date</th>
                <th>Event date</th>
                <th>Modality</th>
                <th>Study Description</th>
                <th></th>
            </tr>
            </thead>
        </table>
</div>
    </form>
</center>

{% endblock content %}
