{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Series Results{% endblock %}

{% block headinfo %}

    <link rel="stylesheet" type="text/css"
          href="{% static 'RadiomicsEnabler/scripts/DataTables-1.10.13/css/jquery.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'RadiomicsEnabler/scripts/Buttons-1.2.4/css/buttons.dataTables.min.css' %}"/>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/jQuery-2.2.4/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/DataTables-1.10.13/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/Buttons-1.2.4/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/Buttons-1.2.4/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/Select-1.2.0/js/dataTables.select.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/dataTables.rowGroup.min.js' %}"></script>

    <style>

    table.series {
            cellpadding: 5;
            cellspacing: 0;
            width: 35%;
            color: blue;
            font-style: italic;
        }
    div.palebluefont {
        font: normal 12px/15px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    }
    td.hide{
        visibility: hidden
    }
    tr.series {
            color: blue;
            font-style: italic;
    }
    p.rtrnstatus {
        width: 70%
    }

    </style>

    <!-- Paramétrage de DataTables -->
    <script type="text/javascript">

        function format ( series ) {
            var details = '';
            for (i = 0, len = series.length; i < len; i++)
                details += '<tr>'+
                    '<td>'+ '<input type="checkbox" name="series_'+series[i].pk+'" value="'+series[i].selected+'">'+'</td><td>'
                    +series[i].modality+'</td><td>'
                    +series[i].series_description+'</td></tr>';
            return '<table class="series" align="center"><tr><td>'+ details +'</td></tr></table>';
        }


        $(document).ready(function() {

            var table = $('#example').DataTable( {
                "data": {{ jsonStudies|safe }},
                "columns": [
                    {
                        "orderable": false,
                        "data":"selected",
                        'className': 'dt-center',
                        'render': function (data, type, full, meta){
                            return '<input type="checkbox" name="'+full['pk']+'" value="' + $('<div/>').text(data).html() + '">';
                        }
                    },
                    { "data":"patient_id", className:"dt-left"},
                    { "data":"patient_last_name", className:"dt-left"},
                    { "data":"patient_first_name", className:"dt-left"},
                    { "data":"patient_birth_date", className:"dt-center"},
                    { "data":"study_date", className:"dt-center"},
                    { "data":"event_date", className:"dt-center",
                      "visible": false,
                      "searchable": false },
                    { "data":"serie_modality", className:"dt-center" },
                    { "data":"serie_description", className:"dt-left" },
                    { "data":"studyid",
                      "visible":false,
                      "searchable": false,
                      "orderable": false,
                      "name":'group'},
                    {"data":"serieid",
                       "visible":false,
                       "orderable": false,
                       "searchable":false },
                    {"data":"modality",
                      "visible":false,
                      "orderable": false,
                      "searchable": false},
                    {"data":"study_description",
                       "visible":false,
                       "orderable": false,
                       "searchable":false},
                ],
                select: {
                    style:    'os',
                },
                "order":[[2,'asc']],
                "lengthMenu": [ {{pageLength|safe}}, {{pageTitle|safe}} ],

                //"drawCallback": function ( settings ) {
                //    var api = this.api();
                //    var rows = api.rows( {page:'current'} ).nodes();
                //    var last=null;
                //
                //    api.column(9, {page:'current'} ).data().each( function ( group, i ) {
                //        if ( last !== group ) {
                //            $(rows).eq( i ).before(
                //                '<tr class="group"><td></td><td>'+group+'</td></tr>'
                //            );
                //        last = group;
                //        }
                //    } )
                //},

                "createdRow": function ( row, data, index ) {
                   var trow = this.api().row( index );
                   $(row).addClass( 'series' );
                   $('td', row).eq(1).addClass('hide');
                   $('td', row).eq(2).addClass('hide');
                   $('td', row).eq(3).addClass('hide');
                   $('td', row).eq(4).addClass('hide');
                   $('td', row).eq(5).addClass('hide');
                },
                rowGroup: {
                    dataSrc:'studyid',
                    endRender: null,
                    startRender: function ( rows, group ) {

                        return $('<tr/>')
                            .append( '<td/>' )
                            .append( '<td>'+rows.data().pluck('patient_id' )[0]+'</td>' )
                            .append( '<td>'+rows.data().pluck('patient_last_name' )[0]+'</td>' )
                            .append( '<td>'+rows.data().pluck('patient_first_name' )[0]+'</td>' )
                            .append( '<td>'+rows.data().pluck('patient_birth_date' )[0]+'</td>' )
                            .append( '<td>'+rows.data().pluck('study_date' )[0]+'</td>' )
                            .append( '<td class="dt-center">'+rows.data().pluck('modality' )[0]+'</td>' )
                            .append( '<td>'+rows.data().pluck('study_description' )[0]+'</td>' )
                    }
                 },
                "language": {
                    "search": "Filter: ",
                    "emptyTable": "No records found."
                }
            } );

           // Handle click on "Select all" control
           $('#example-select-all').on('click', function(){
              // Get all rows with search applied
              var rows = table.rows({ 'search': 'applied' }).nodes();
              // Check/uncheck checkboxes for all rows in the table
              $('input[type="checkbox"]', rows).prop('checked', this.checked);

              // Iterate over all checkboxes in the table
              table.$('input[type="checkbox"]').each(function(){
                 // If checkbox doesn't exist in DOM
                 if(!$.contains(document, this)){
                    // If checkbox is checked
                    this.checked = hdr.checked
                 }

               });

           });

           // Handle click on checkbox to set state of "Select all" control
           $('#example tbody').on('change', 'input[type="checkbox"]', function(){
              // If checkbox is not checked
              if(!this.checked){
                 var el = $('#example-select-all').get(0);
                 // If "Select all" control is checked and has 'indeterminate' property
                 if(el && el.checked && ('indeterminate' in el)){
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                 }
              }
           });

           // Handle form submission event
           $('#frm-example').on('submit', function(e){
              var form = this;

              // Iterate over all checkboxes in the table
              table.$('input[type="checkbox"]').each(function(){
                 // If checkbox doesn't exist in DOM
                 if(!$.contains(document, this)){
                    // If checkbox is checked
                    if(this.checked){
                       // Create a hidden element
                       $(form).append(
                          $('<input>')
                             .attr('type', 'hidden')
                             .attr('name', this.name)
                             .val(this.value)
                       );
                    }
                 }
              });
           });

        } );


    </script>
{% endblock headinfo %}


{% block navheader %}{{ block.super }}><a href="{% url 'projectDetails' object.batch.project.pk %}">{{ object.batch.project.name }}</a>><a href="{% url 'batchDetail' object.batch.pk %}">{{ object.batch.name }}</a>>Series results{% endblock %}

{% block content %}

<center>Series results</center>

<br/>
<center>
    <p class="rtrnstatus">
        {{ rtrnStatus }}
    </p>

    <form method="post" id="frm-example">
        {% csrf_token %}
        {{ form }}
        <input type="submit"  name="addSelectionToBatch" value="Add selection to batch" class="myButton" />
        <input type="submit"  name="newQuery" value="Launch a new search" class="myButton" />
        <input type="submit"  name="goToBatch" value="Go to batch" class="myButton" />

        <br/>
<div class="palebluefont">
        <table id="example" class="display compact stripe" width="100%">
            <thead>
            <tr>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                <th>Patient ID</th>
                <th>Name</th>
                <th>First name</th>
                <th>Birth date</th>
                <th>Study date</th>
                <th>Event date</th>
                <th>Modality</th>
                <th>Description</th>
            </tr>
            </thead>
        </table>
</div>
    </form>
</center>

{% endblock content %}
