{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Series Search Progress{% endblock %}

{% block headinfo %}
    <style>
        .loader {
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid blue;
          border-bottom: 16px solid blue;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
    </style>

    <script type="text/javascript"
            src="{% static 'RadiomicsEnabler/scripts/jQuery-2.2.4/jquery-2.2.4.min.js' %}"></script>


    <script type="text/javascript">


        $(document).ready ( function(){
            var a = '{{ runStatus }}';
            if ( a == 0 ){
                $("#spinner").css("display",'none');
                $("#StopSearch").hide();
                $("#processing").css("display",'none');
            }
            else {
                $("#finished").css("display",'none');
            }
            setTimeout(function() { window.location.reload(true) },2000);
         });



    </script>
{% endblock headinfo %}


{% block navheader %}{{ block.super }}><a href="{% url 'projectDetails' search.batch.project.pk %}" onclick="clearTimeouts()">{{ search.batch.project.name }}</a>><a href="{% url 'batchDetail' search.batch.pk %}" onclick="clearTimeouts()">{{ search.batch.name }}</a>>Extraction{% endblock %}

{% block content %}

<center>
    <div id="spinner" class="loader"></div>
    <div id="message">{{ progressMessage }}</div>
    <div id="buttons">
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="myButton" id="StopSearch" name="StopSearch" value="Stop search" onclick="clearTimeouts()"/>
        </form>
    </div>
    <div id="processing">
        Your series search is under way. Please be patient for the end of the search.
    </div>
    <div id="finished">
        You will be returned to your results automatically.
    </div>

</center>

{% endblock content %}
