{% extends "RadiomicsEnabler/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Delete Study {% endblock %}

{% block navheader %}{{ block.super }}><a href="{% url 'projectDetails' object.search.batch.project.pk %}">{{ object.search.batch.project.name }}</a>><a href="{% url 'batchDetail' object.search.batch.pk %}">{{ object.search.batch.name }}</a>>Delete Study{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" name="confirm" value="Confirm" />
        <input type="submit" name="cancel" value="Cancel" />
    </form>

{% endblock content %}